<div class="w-full mx-auto flex gap-4">
  <!-- Categories dropdown -->
  <div class="sticky top-30 h-fit shrink-0 w-48">
    <details class="relative">
      <summary
        class="cursor-pointer border rounded-smsm p-2 list-none flex justify-around items-center hover:bg-indigo-400 hover:text-black hover:border-transparent transition"
      >
        <span>Categories</span>
        <span class="text-xs">▼</span>
      </summary>

      <div
        class="absolute z-50 top-full mt-1 w-full max-h-[calc(100vh-10rem)] overflow-y-auto flex flex-col gap-2 p-2 rounded-smxl [&::-webkit-scrollbar]:w-1 [&::-webkit-scrollbar-track]:bg-transparent [&::-webkit-scrollbar-thumb]:bg-gray-600 [&::-webkit-scrollbar-thumb]:rounded-smfull hover:[&::-webkit-scrollbar-thumb]:bg-gray-400"
      >
          <button
            routerLink="/"
            class="w-full rounded-smsm border-transparent bg-transparent p-2 hover:text-black hover:bg-indigo-400 hover:border-transparent hover:scale-105 transition"
          >
            All
          </button>
        @for (category of categories(); track category.id) {
          <button
            routerLink="/"
            [queryParams]="{ category_id: category.id }"
            class="w-full rounded-smsm border-transparent bg-transparent p-2 hover:text-black hover:bg-indigo-400 hover:border-transparent hover:scale-105 transition"
          >
            {{ category.name }}
          </button>
        }
      </div>
    </details>
  </div>

  <!-- Products grid -->
  <div class="grid grid-cols-4 gap-6 my-4 flex-1">
    @for (product of products(); track product.id) {
      <app-product [product]="product" (addToCart)="addToCart(product)" />
    }
  </div>
</div>
