<nav>
  <div class="w-full flex flex-wrap items-center justify-between mx-auto py-4">
    <div class="flex items-center space-x-8">
      <a href="https://flowbite.com/" class="flex items-center">
        <img src="https://flowbite.com/docs/images/logo.svg" class="h-6 mr-3" alt="Flowbite Logo" />
        <span class="self-center text-xl font-semibold whitespace-nowrap">Flowbite</span>
      </a>
      <ul class="flex space-x-6">
        <li>
          <a href="#" class="block underline hover:underline" aria-current="page">Home</a>
        </li>
        <li>
          <a href="#" class="block hover:underline">About</a>
        </li>
        <li>
          <a href="#" class="block hover:underline">Services</a>
        </li>
      </ul>
    </div>
    <div class="flex items-center">
      <button class="p-2 relative cursor-pointer border-b border-transparent hover:border-b hover:border-black" (click)="toggleSideMenu()">
        <div class="absolute -top-1 -right-2 rounded-b-xl h-5 w-5 bg-blue-300 text-black text-xs">
          {{ productsCartData.length }}
        </div>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="#151515"
          viewBox="0 0 24 24"
          stroke-width="1"
          stroke="currentColor"
          class="w-6 h-6"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M18 7h-3V6a3 3 0 0 0-6 0v1H6a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V8a1 1 0 0 0-1-1zm-7-1a1 1 0 0 1 2 0v1h-2V6zm6 13H7V9h2v1.5a1 1 0 0 0 2 0V9h2v1.5a1 1 0 0 0 2 0V9h2v10z"
          />
        </svg>
      </button>
    </div>
  </div>
</nav>
<div
  [class.translate-x-full]="isSideMenuVisible()"
  class="fixed border-l top-0 right-0 bg-red z-40 w-100 h-screen p-4 overflow-y-auto transition-transform bg-white"
>
  <div class="flex justify-between items-center" (blur)="toggleSideMenu()">
    <p class="text-xl">My Cart</p>
    <button (click)="toggleSideMenu()" class="cursor-pointer">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="w-6 h-6"
      >
        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
      </svg>
    </button>
  </div>
  <div class="w-full flex flex-col gap-3.5 my-4">
    @for (productCart of productsCartData; track productCart.product.id) {
      <div class="-full grid grid-cols-[80px_1fr_auto] items-center gap-4">
        <figure class="w-20 h-20 overflow-hidden rounded-lg">
          <img
            class="w-full h-full object-cover object-center rounded-lg"
            [src]="productCart.product.image"
            alt=""
          />
        </figure>
        <div class="flex flex-col">
          <p class="text-lg font-semibold">
            {{ productCart.product.title }}
          </p>
          <p class="text-sm text-gray-500">{{ productCart.product.price }} COP</p>
          <p class="text-sm">Quantity: {{ productCart.quantity }}</p>
        </div>
        <button (click)="removeFromCart(productCart.product.id)" class="cursor-pointer">
          <svg
            class="justify-self-end text-gray-400 hover:text-blue-500 transition-colors duration-200"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-6 h-6"
          >
            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
          </svg>
        </button>
      </div>
    }
    @if (productsCartData.length > 0) {
      <div class="w-full h-0.5 bg-gray-400"></div>
      <div class="flex items-center">
        <p class="w-full font-semibold mt-2">Total: {{ getTotalPrice() }} COP</p>
        <button class="w-35 h-12 rounded bg-blue-400 text-black border-0 p-2 cursor-pointer">
          Checkout
        </button>
      </div>
    }
  </div>
</div>
